body{
    background: #000;
}
.box{
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0);
    text-align: center;
    display: grid;
    place-items:center;
}
.box input,textarea,button{
    width: 400px;
   margin-bottom: 30px;
}
h1{
    color: white;
}
li{
    color: white;
    margin-right:30px;
}
